body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(135deg, #000b18, #02386e);
}
* {
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
ul {
  list-style: none;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form,
#info {
  border: 2px solid #033c76;
  border-radius: 12px;
  background-color: #003e779d;
  backdrop-filter: blur(10px);
  color: rgb(123, 187, 242);
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

input {
  margin: 10px 0 20px 0;
  padding: 5px 10px;
  background: #0227499d;
  border-radius: 8px;
  width: 300px;
  border: 2px solid #356590;
}
input:focus,
input:active {
  color: white;
  outline: none;
  box-shadow: none;
  background: #03427c9d;
  border: 2px solid #7abaf2;
}

button {
  padding: 10px 20px;
  background-color: #5cadf4;
  color: white;
  font-weight: 800;
  font-size: 15px;
  border-radius: 5px;
}
button:hover {
  background-color: #3e8ed3;
}
button:active {
  background-color: #6b9dc9;
}

#info {
  margin-top: 15px;
  padding: 20px;
}

li {
  margin-bottom: 5px;
}
#info-head,
#other-temps,
#sun-time {
  display: flex;
  justify-content: space-between;
}

#info-head {
  font-size: 35px;
  color: #a8cdec;
}
#other-temps {
  font-size: 13px;
}

#condition {
  font-size: 20px;
  color: #a8cdec;
  margin-bottom: 15px;
}

footer {
  background-color: #003e77;
  color: white;
  text-align: center;
  padding: 10px;
}
